<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sshuk.la</title>
    <link rel="icon" type="image/x-icon" href="/static/favico.png">
    
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  
  <body>
    <div class="header-content">
      <nav>
        <div class="left-stuff">
            <div class="image-container">
              <img src="/static/shuklalogo.jpg" alt="Logo">
            </div>
            <h1 id="header_title">Sahil Shukla</h1>
        </div>
      </nav>
    </div>
    <div id="wrapper">
      <div id="centered_content">
        <h1 id="Heading_1">Hi, I'm <span class="gradient-text"><span class="letter">S</span><span class="letter">a</span><span class="letter">h</span><span class="letter">i</span><span class="letter">l</span></span></h1>
        <p>a Computer Engineer, Composer and Software Developer.</p>
      </div>
    </div>
    
    <footer>
      <div class="footer-content">
        <div class="left-icons">
          <nav>
            <ul>
              <li>
                <a href="https://github.com/ssHUKLaa">
                  <img src="/static/githubico.png" alt="GitHub" width="35" height="35">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/shuklaxsahil/">
                  <img src="/static/linkedinico.png" alt="LinkedIn" width="35" height="35">
                </a>
              </li>
              <li>
                <a href="https://gitlab.com/ssHUKLaa">
                  <img src="/static/gitlabico.png" alt="GitLab" width="35" height="35">
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="middle-text">
          <p>© 2024 sshuk.la</p>
        </div>
        <div class="far-right-icon">
          <div class="far-right-icon-box">
            <a href="mailto:sahilshukla@hotmail.ca">
                <img src="/static/emailico.png" alt="Email" width="35" height="35">
            </a>
            <a href="https://1drv.ms/b/c/bc8104583923dc5d/Ed4GbNP-yj5GmXr7S1cpT8ABU33pxyVEa5Lc9OmIjnv4Hw?e=XIEYWA">
              <img src="/static/resumeico.png" alt="My Resume" width="35" height="35">
              <span class="hover-text">Email and Resume</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

